<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
    </style>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/token" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
    </body>
</html>
